//head.jade

script(src='/js/jquery-1.11.3.min.js')
script(src='/js/three.min.js')
script(src='/js/tracking.js/tracking-min.js')
script(src='/js/tracking.js/dat-gui.min.js')
script(src='/js/subcollider/subcollider-min.js')
script(src='/js/timbre.dev.js')
script(src='/js/trackImg.js')
script(src='/js/polyenvironments.js')

link(href="/css/normalize.css", rel="stylesheet")
link(href="/css/skeleton.css", rel="stylesheet")
link(href="/css/style.css", rel="stylesheet")