//- index.jade
extends ./layout.jade
block scripts
  
block main
  div(class="section hero")
    div(class="container")
      div(class="row")
        div(class="column")
          h4(class="hero-heading") Polyenvironments
          p Upload an image to interpret it as music. Pitch and Time are mapped to spatial densities of feature sets detected.
          p Spatial density is measured as distances between 'features' detected. The horizontal distances between dots define the length of note. Vertical distances define the pitch.
          p The scale is derived from a number that is pretty much random from picture to picture. So when you compare pictures, listen for the differences in composition more than the mood of each piece.
          br
          block content
block scripts
