//- index.jade
extends ./layout.jade

block main
  div(class="section hero")
    div(class="container")
      div(class="row")
        div(class="column")
          h4(class="hero-heading") Polyenvironments
          p Upload an image to interpret it as music. Pitch and Time are mapped to spatial densities of feature sets detected.
          br
          block content