//- index.jade
extends ./layout.jade

block main
  div(class="section hero")
    div(class="container")
      div(class="row")
        div(class="one-half column")
          h4(class="hero-heading") Polyenvironments
          p The uploaded picture is used to generate sounds. Pitch and Time are mapped to spatial densities.
          br
          block content