doctype html
html
  head
    block title
      title Polyenvironments
    include ./head.jade
  
  body
    block main
    script(src='/js/jquery-1.11.3.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyA0ceAZLT7F0PRc_nqS1YphGT21DMbfvLA&callback=initMap')
    script(src='/js/underscore-min.js')
    script(src='/js/three.min.js')
    script(src='/js/tracking.js/tracking-min.js')
    script(src='/js/tracking.js/dat.gui.min.js')
    script(src='/js/subcollider/subcollider-min.js')
    script(src='/js/timbre.dev.js')
    script(src='/js/synths.js')
    script(src='/js/trackImg.js')
    script(src='/js/polyenvironments.js')
