//- compCreate.jade
extends ./layout.jade
block styles
  link(href="/css/soundinspace.css", rel="stylesheet")
block main
  div(class="container-fluid")
    div(class="row error")

    div(class="row content")
      div(class="col-sm-5 col-sm-offset-1")
        h2 Sound In Space
        hr
      div(class="col-sm-6 error")
        p This app cannot be used on this device

      div(class="col-sm-6 content")
        h3 (instructions for whenever)
        p Sounds change based on phone orientation. its pretty distracting to play with. 
        p you you do it when you are listening to headphones via your phone
        p First turn down your phone volume, http://polyenvironments.net/soundinspace
        p click to load and then turn up the sound halfway
        p put the phone in your pocket
        p move subtly

        div(id="status")
          h3 Touch to Load

    div(class="row content")
      div(class="col-sm-6 content")
        canvas(id="canvas2")

block scripts
    script(src='/js/soundjs-0.6.2.min.js')
    script(src='/js/processing-1.4.1.js')
    script(src='/js/app.js')
