li {
  list-style-image: url("/images/bullet.jpg");
  border: 1px solid #000;
  margin: 1vh;
  width: 98vw;
  padding: 0 0 0 1vh;
  display: block-inline;
}
.status {
  display: inline;
}
.error {
	display: none;
}
.text-zone {
  height: 40vh;
  width: 100vw;
  user-select: none;
}
.pad-zone {
  height: 60vh;
  width: 100vw;
}
.control-pad {
  height: 60vh;
  width: 100vw;
  user-select: none;
}
